<div class="container mt-3">
  <div class="row ml-1">
    <h3>Sorting Visualizer</h3>
  </div>
  <app-form></app-form>
  <div class="row ml-1">
    <div class="d-flex align-items-center mr-3">
      <div class="color" style="background-color: turquoise;"></div>
      <span>Unsorted</span>
    </div>
    <div class="box d-flex align-items-center mr-3">
      <div class="color" style="background-color: pink;"></div>
      <span>Selected</span>
    </div>
    <div class="box d-flex align-items-center">
      <div class="color" style="background-color: purple;"></div>
      <span>Sorted</span>
    </div>
  </div>
  <hr>
  <app-canvas></app-canvas>
</div>