<app-form></app-form>
<div class="container mt-3">
  <div class="row ml-1">
    <div class="d-flex align-items-center mr-3">
      <div class="color unsorted"></div>
      <span>Unsorted</span>
    </div>
    <div class="box d-flex align-items-center mr-3">
      <div class="color selected"></div>
      <span>Selected</span>
    </div>
    <div class="box d-flex align-items-center mr-3">
      <div class="color traverse"></div>
      <span>Traversing</span>
    </div>
    <div class="box d-flex align-items-center">
      <div class="color sorted"></div>
      <span>Sorted</span>
    </div>
  </div>
  <hr>
  <app-canvas></app-canvas>
</div>