/* You can add global styles to this file, and also import other style files */
:root {
    --header-background: #14274e;
    --header-text-color: #f1f6f9;
    --color-3: #394867;
    --color-4: #9ba4b4;
    --bar-color: #1f3c88;
    --bar-sorted: #070d59;
    --bar-traverse: #b83b5e;
    --bar-selected: #ee6f57;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.inner-bar {
    background: var(--bar-color);
    border-left: 1px solid black;
}
.unsorted {
    background: var(--bar-color);
}
.selected {
    background: var(--bar-selected);
}
.traverse {
    background-color: var(--bar-traverse);
}
.sorted {
    background: var(--bar-sorted)!important;
}